.auth-bg {
    background: radial-gradient(85.9% 85.9% at 82.11% 8.01%, #6EF195 25.79%, #00E3FD 100%), #F7F9FB;
}
.password-strength-bar div div{
    height: 4px !important;
    border-radius: 8px;
}

